<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UICTFontTextStyleTitle1</key>
	<dict>
		<key>fontName</key>
		<string>DINCondensed-Bold</string>
		<key>fontSize</key>
		<integer>35</integer>
	</dict>
	<key>UICTFontTextStyleTitle2</key>
	<dict>
		<key>fontName</key>
		<string>DINCondensed-Bold</string>
		<key>fontSize</key>
		<integer>28</integer>
	</dict>
	<key>UICTFontTextStyleTitle3</key>
	<dict>
		<key>fontName</key>
		<string>DINCondensed-Bold</string>
		<key>fontSize</key>
		<integer>22</integer>
	</dict>
	<key>UICTFontTextStyleHeadline</key>
	<dict>
		<key>fontName</key>
		<string>DINCondensed-Bold</string>
		<key>fontSize</key>
		<integer>18</integer>
	</dict>
	<key>UICTFontTextStyleSubhead</key>
	<dict>
		<key>fontName</key>
		<string>DIN-Light</string>
		<key>fontSize</key>
		<integer>16</integer>
	</dict>
	<key>UICTFontTextStyleBody</key>
	<dict>
		<key>fontName</key>
		<string>DIN-RegularAlternate</string>
		<key>fontSize</key>
		<integer>16</integer>
	</dict>
	<key>UICTFontTextStyleCallout</key>
	<dict>
		<key>fontName</key>
		<string>DINCondensed-Bold</string>
		<key>fontSize</key>
		<integer>18</integer>
	</dict>
	<key>UICTFontTextStyleFootnote</key>
	<dict>
		<key>fontName</key>
		<string>DIN-Bold</string>
		<key>fontSize</key>
		<integer>12</integer>
	</dict>
	<key>UICTFontTextStyleCaption1</key>
	<dict>
		<key>fontName</key>
		<string>DIN-Light</string>
		<key>fontSize</key>
		<integer>12</integer>
	</dict>
	<key>UICTFontTextStyleCaption2</key>
	<dict>
		<key>fontName</key>
		<string>DIN-Bold</string>
		<key>fontSize</key>
		<integer>10</integer>
	</dict>
</dict>
</plist>
